<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.github.jimo1001.alfred-reminders-workflow</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>075D5651-3BA0-4B25-84B9-B86CE3534930</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8D442CDC-AF96-4516-8A46-46CE55D66820</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>8D442CDC-AF96-4516-8A46-46CE55D66820</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C95E30E6-42A7-4DF5-9C5A-8BD8A9BB6D4F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>jimo1001</string>
	<key>description</key>
	<string>Search items from Reminders.app</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Reminders</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>075D5651-3BA0-4B25-84B9-B86CE3534930</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>r</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>loading...</string>
				<key>script</key>
				<string>osascript -l JavaScript input.applescript show "{query}"</string>
				<key>subtext</key>
				<string>r [account:{Account Name}] [list:{List Name}] {Reminder Title}</string>
				<key>title</key>
				<string>show Reminders</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>8D442CDC-AF96-4516-8A46-46CE55D66820</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>osascript -l JavaScript open.applescript "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C95E30E6-42A7-4DF5-9C5A-8BD8A9BB6D4F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>075D5651-3BA0-4B25-84B9-B86CE3534930</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>8D442CDC-AF96-4516-8A46-46CE55D66820</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>C95E30E6-42A7-4DF5-9C5A-8BD8A9BB6D4F</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/jimo1001/alfred-reminders-workflow</string>
</dict>
</plist>
