<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.github.jimo1001.alfred-reminders-workflow</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>391573B1-198D-4455-A25B-CC9763DF6C18</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5A2C92D9-FFDE-4DB2-839B-D66B55168678</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>5A2C92D9-FFDE-4DB2-839B-D66B55168678</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AE937307-9537-46D5-A7F3-173ECCB03754</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>8D442CDC-AF96-4516-8A46-46CE55D66820</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C95E30E6-42A7-4DF5-9C5A-8BD8A9BB6D4F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>jimo1001</string>
	<key>description</key>
	<string>For Reminders.app</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Simple Reminders</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>r</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Search in progress ...</string>
				<key>script</key>
				<string>bin/aw-input search "{query}"</string>
				<key>subtext</key>
				<string>r [account:{Account Name} list:{List Name}] {Search Words...}</string>
				<key>title</key>
				<string>Search reminder's items</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>8D442CDC-AF96-4516-8A46-46CE55D66820</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<true/>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>osascript -l JavaScript -s o scripts/open.applescript "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C95E30E6-42A7-4DF5-9C5A-8BD8A9BB6D4F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<true/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>osascript -l JavaScript -s o scripts/create.applescript "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5A2C92D9-FFDE-4DB2-839B-D66B55168678</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>r</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Please Wait ...</string>
				<key>script</key>
				<string>bin/aw-input create "{query}"</string>
				<key>subtext</key>
				<string>r [account:{Account Name} list:{List Name}] {Task Title ...}</string>
				<key>title</key>
				<string>Create a new item</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>391573B1-198D-4455-A25B-CC9763DF6C18</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>New Reminder Created</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>AE937307-9537-46D5-A7F3-173ECCB03754</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Please see https://github.com/jimo1001/alfred-reminders-workflow</string>
	<key>uidata</key>
	<dict>
		<key>391573B1-198D-4455-A25B-CC9763DF6C18</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>5A2C92D9-FFDE-4DB2-839B-D66B55168678</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>8D442CDC-AF96-4516-8A46-46CE55D66820</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>AE937307-9537-46D5-A7F3-173ECCB03754</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>C95E30E6-42A7-4DF5-9C5A-8BD8A9BB6D4F</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/jimo1001/alfred-reminders-workflow</string>
</dict>
</plist>
